## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [0]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [41]:
# Your code here
sample_list_1=random.sample(range(101), k=80)
print(sample_list_1)

[21, 33, 5, 42, 66, 63, 70, 57, 8, 15, 99, 14, 58, 100, 34, 77, 6, 71, 65, 47, 98, 93, 74, 73, 44, 94, 59, 27, 13, 84, 79, 16, 25, 53, 91, 23, 24, 30, 51, 52, 22, 18, 31, 96, 9, 28, 78, 2, 83, 88, 0, 90, 1, 50, 55, 76, 29, 17, 20, 92, 72, 10, 7, 35, 97, 54, 81, 41, 87, 67, 56, 11, 89, 62, 19, 45, 86, 95, 61, 43]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [68]:
# Your code here
set1=set(sample_list_1)
print(set1)
print(len(set1))

{0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 33, 34, 35, 41, 42, 43, 44, 45, 47, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 67, 70, 71, 72, 73, 74, 76, 77, 78, 79, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [43]:
# Your code here
sample_list_2=[]

for i in range(80):
  sample_list_2.append(random.randint(0,100))

sample_list_2

[42,
 65,
 31,
 64,
 45,
 91,
 22,
 62,
 96,
 67,
 78,
 52,
 95,
 53,
 93,
 46,
 11,
 61,
 46,
 33,
 55,
 94,
 23,
 97,
 79,
 41,
 14,
 89,
 7,
 12,
 27,
 67,
 4,
 34,
 70,
 93,
 92,
 24,
 40,
 58,
 20,
 83,
 15,
 7,
 91,
 50,
 51,
 82,
 38,
 38,
 75,
 48,
 72,
 86,
 25,
 83,
 94,
 44,
 59,
 65,
 99,
 25,
 95,
 51,
 2,
 69,
 36,
 78,
 44,
 82,
 23,
 3,
 56,
 20,
 68,
 49,
 32,
 54,
 84,
 49]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [44]:
# Your code here
set2=set(sample_list_2)
print(type(set2))
print(len(set2))

<class 'set'>
62

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [45]:
# Your code here

set3=set1.difference(set2)
set3

#lista3=[]
#for i in set1:
 #if i not in set2:
  #  lista3.append(i) 

#set3=set(lista3)

#print(set3)

{0,
 1,
 5,
 6,
 8,
 9,
 10,
 13,
 16,
 17,
 18,
 19,
 21,
 28,
 29,
 30,
 35,
 43,
 47,
 57,
 63,
 66,
 71,
 73,
 74,
 76,
 77,
 81,
 87,
 88,
 90,
 98,
 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [48]:
# Your code here
set4=set2.difference(set1)
set4

{3, 4, 12, 32, 36, 38, 40, 46, 48, 49, 64, 68, 69, 75, 82}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [50]:
# Your code here
set5=set1.intersection(set2)
set5

{2,
 7,
 11,
 14,
 15,
 20,
 22,
 23,
 24,
 25,
 27,
 31,
 33,
 34,
 41,
 42,
 44,
 45,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 58,
 59,
 61,
 62,
 65,
 67,
 70,
 72,
 78,
 79,
 83,
 84,
 86,
 89,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [51]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

#Len(set1) indica que tenemos 80 elementos únicos, Len(set2) es menor, porque la lista nos permite repetir elementos.
#La suma de set3 mas set5 complementan el valor de set1.
#Los mismo aplica para set4 más set5 da como resultado set2.

80
62
33
15
47

#### Create an empty set called `set6`.

In [0]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [53]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 33, 34, 35, 41, 42, 43, 44, 45, 47, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 67, 70, 71, 72, 73, 74, 76, 77, 78, 79, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [54]:
# Your code here
print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [55]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [65]:
# Your code here
set7=set3.union(set4,set5)
set8=set1.union(set2)
print(set7 == set8)
print(set7.symmetric_difference(set8))

#Vacio significa que no hay diferencia, por tanto son iguales.

True
set()

#### Using the `pop` method, remove the first element from `set1`.

In [66]:
# Your code here
print(set1.pop())

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [72]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
  if i in set1:
    set1.remove(i)

print(set1)

{0, 2, 5, 6, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 27, 28, 30, 33, 34, 35, 42, 43, 44, 45, 47, 50, 52, 53, 54, 55, 56, 57, 58, 62, 63, 65, 66, 67, 70, 72, 73, 74, 76, 77, 78, 83, 84, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}